:root {
  --accent-color: #BF4904;
  --accent-color-light: #c95715;
  /* --accent-color-light: #B48762; */
  --accent-color-dark: #b44200;
  --main-light: #ffffff;
}

#app {
  height: 100vh;
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  font-family: 'Inter';
  padding: 0;
  margin: 0;
}
